[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flake8 = "*"
argon2-cffi = "*"
pytest-cov = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
pytest-dotenv = "*"
faker = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
